$accentOrange: #FB7D37;
$yellow: #FFCA41;

@media screen and (max-width: 1550px){
  .slider-arrow--prev{
    left: -5px;
  }
  .slider-arrow--next{
    right: -5px;
  }
  .modelPageMain{
    &__bottomInfo{
      // flex-direction: column;
    }
    .oneClickForm{
      min-width: 100%;
    }

    &__bottomBlock{
      &:first-child{
        margin-bottom: 20px;
      }
    }

    &__split{
      margin-bottom: 20px;
    }

    &__imageBlock{
      min-width: 300px;
    }
  }
  .searchBar__input,
  .header__wrap{
    padding: 10px;
  }
  .callBack-btn__icon{
    width: 25px;
    height: 25px;
  }
  .cart .icon-cart{
    font-size: 1.5em;


  }
  .cart__label{
      font-size: 0.8rem;
      width: 15px;
      height: 15px;
      right: -8px;
  }
  .phoneList__heading .icon-call{
    font-size: 2em;
  }
  
  .optionBlock__item  .nice-select{
    line-height: 35px;
  }
  .nice-select{
    font-size: .8rem;
  }


  //  menu
  .navbar__link{
    padding: 12px 8px;
    font-size: .8rem;
  }

  // banner
  .mainBanner__wrap{
    margin-top: 0;
    padding-top: 40px;
  }

  //  filter
  .optionBlock__heading{
    font-size: 1.2rem;
    padding: 10px 20px;
  }
  .optionBlock__headItem{
    padding: 8px;
    font-size: .8rem;
  }
  .nice-select{
    height: 35px;
    line-height: 120%;
  }
  .lang-dropdown{
    line-height: 35px;
  }
  .optionBlock__btn{
    margin-top: 15px;
    padding: 10px;
    font-size: 0.8rem;
  }

  // cart btn
  .itemCard__btn{
    padding: 10px;
    font-size: .8rem;
  }

  // title
  .title{
    font-size: 1.9rem;
  }

  // model page
  .variantBlock__heading,
  .modelPage__heading{
    font-size: 1.5rem;
    margin-top: 20px;
  }

  .modelPageMain__imageBlock{
    padding-top: 20px;
   // padding-bottom: 40px;
  }
  .modelPageMain__imageBlock{
    max-width: 340px;
  }
  .iconHeading{
    font-size: .8rem;
    span{
      font-size: 2rem;
    }
  }
  .modelPageMain__orangePrice{
    font-size: 1.2rem;
  }
  .infoList ul li{
    font-size: .8rem;

  }
  .garantyBtn{
    padding: 10px;
    font-size: .8rem;
  }
  .linkBlock__item{
    font-size: .8rem;
  }
  .modelPageMain__text,
  .modelPageMain__labelRow{
    padding-top: 15px;
  }

  .stars__item{
    font-size: 1.2rem;

  }
  .modelPageMain__text li,
  .oneClickForm a,
  .oneClickForm input,
  .bottomBlock__featureItem,
  .bottomBlock__listBlock ul li,
  .ratingBlock__link,
  .ratingBlock__label{
    font-size: .8rem;
  }
  .modelPageMain__text li{
    line-height: 1.5;
  }
  .linkBlock__title,
  .bottomBlock__heading{
    font-size: 1rem;
    line-height: 1;
    margin-bottom: 15px;
  }
  .modelPageMain__bottomInfo{
    padding-top: 15px;
  }
  .bottomBlock__btn{
    height: 35px;
    font-size: 0.8rem;
  
  }

  .oneClickForm{
    padding: 10px;

  }
  .tabSlider ul li a,
  .variantBlock ul li a{
    padding: 10px;
    font-size: 0.8rem;
  }
  .variantBlock__btn{
    height: auto;
    font-size: .8rem;
    padding: 10px;
  }
  .variantBlock__col p{
    font-size: 0.8rem;
  }
  .variantBlock__label{
    font-size: 1rem;
  }

  .bottomBlock__featureItem img{
    width: 25px;
  }
  .bottomBlock__featureBlock{
    margin-top: 0;
  }
  .brandList__title,
  .itemSlider__title,
  .tabSlider__heading{
    font-size: 1.2rem;
  }
  .reviewForm__heading,
  .reviews__heading{
    font-size: 1.2rem;
    margin-bottom: 15px;
  }
  .reviewForm{
    padding-top: 10px;
  }
  .bottomTabs__moreBtn{
    padding: 10px;
    font-size: .8rem ;
    max-width: 320px;
  }
}

@media screen and (max-width: 1440px){
  .filtering{
    
  }
  .btn{
    padding: 10px;
    font-size: 0.8rem;
  }
  .itemList__grid{
    grid-template-columns:repeat(4, minmax(250px, 1fr));
  }
  .bigFilter__select:not(:last-child){
    margin-right: 15px;
  }
  .priceSelect input{
    width: 40px;
  }
  .radioRow label,
  .sortBlock__heading{
    font-size: 0.6rem;

  }
  .navBlock{
    width: auto;
   
  }
  .navBlock__iconItem .icon-calculate{
    font-size: 1.5rem;
  }
  .navBlock__icons{
    padding: 0;
  }
  .navBlock__iconItem{
    padding: 5px;
  }
  .navBlock__iconItem span{
    font-size: 2rem;
  }
  .priceSelect{
    &__bold{
      white-space: normal;
    }
  }
  .navBlock__iconItem p{
    font-size: .7rem;
  }
  .navBlock__btn{
    font-size: .6rem;
    padding: 10px;
  }
  .variantBlock{
    &__btn{
      max-width: 140px;
      margin-right: 10px;
      height: auto;
      &--dark{
        margin-right: 0;
      }
    }

    &__col:nth-child(5){
      margin-right: 10px;
    }

    &__tab{
      padding-right: 10px;
      padding-left: 10px;
      padding-bottom: 20px;
      padding-top: 35px;
    }

    &__buttons{
      min-width: 290px;
    }
  }

  .modelPage{
    &__brandSidebar{
      max-width: 180px;
    }

    &__main{
      width: calc(100% - 215px);
    }
  }
  .itemCard__img{
    padding-top: 0px;
    padding-bottom: 15px;
  }
  .itemCard__features img{
    width: 15px;
  }
  .itemCard__favoriteIcon{
    font-size: 1rem;
  }
  .labels,
  .itemList__title{
    margin-bottom: 15px;
  }
  .priceSelect__text,
  .priceSelect__bold{
    font-size: 0.7rem;
    margin-right: 10px;
  }
}

@media screen and (max-width: 1220px) {
  .itemList__grid{
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
  }
  .header{
    &__logo{
      margin-right: 0;
    }

    &__searchBar{
      margin: 0px 10px;
    }

    &__logo{
      max-width: 180px;
    }
  }

  .popularList{
    &__body {
      flex-wrap: wrap;
      ul{
        margin-bottom: 30px;
      }
    }
  }

  .bigFilter{
    flex-direction: column-reverse;

    &__parameters{
      flex-wrap: wrap;
      justify-content: start;
    }

    &__select{
      margin-bottom: 15px;
    }
  }

  .priceSelect{
    max-width: 270px;
    margin-bottom: 15px;
  }

  .sortBlock{
    flex-wrap: wrap;
    &__radioRow{
      margin-right: 10px;
      margin-bottom: 10px;
      label{
        white-space: nowrap;
      }
    }

    &__heading{
      white-space: nowrap;
      margin-bottom: 10px;
    }
  }

  .modelPageMain{
    &__topInfo{
      flex-direction: column;
    }

    &__imageBlock{
      max-width: 350px;
    }

    &__oneClickForm{
      min-width: 400px;
    }
  }

  .oneClickForm{
    padding-left: 20px;
    min-width: 400px;
  }

  .modelPage{
    &__brandSidebar{
      display: none;
    }

    &__main {
      width: 100%;
    }
  }

  .itemPageMain{
    &__wrap{
      display: flex;
      flex-direction: column;
    }

    &__leftInfo{
      margin: 0px auto;
    }

    &__rightInfo {
      padding-top: 40px;
      max-width: 700px;
      margin: 0px auto;
    }

    &__oneClickForm{
      padding-left: 5px;
      min-width: 370px;
    }

    &__btn{
      margin-left: 0;
      margin-right: 0;
    }

    &__bottomRow{
      max-width: 700px;
      padding-top: 10px;
      width: 100%;
      margin: 0px auto; 
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
    }

    &__ratingBlock{
      flex-direction: column;
      min-width: auto;
    }
  }

  .linkBlock{
    &__grid{
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
}

@media screen and (max-width: 1000px){
  .modelPageMain{
    &__bottomInfo{
      flex-direction: column;
    }
  }
  .popup-brands{
    &__select{
      font-size: 20px;
      max-width: 200px;
      height: auto;
      padding-right: 25px;
      &::after{
        width: 10px;
        height: 10px;
        border-width: 2px;
        margin-top: -7px;
        transform-origin: 70% 70%;
        transform: rotate(45deg);
      }

      .option{
        font-size: 18px;
        min-height: 30px;
        height: min-content;
        line-height: auto;
      }
    }

    &__headItem{
      font-size: 12px;
      padding: 10px;
      margin-right: 10px;
      white-space: nowrap;
    }

    &__headWrap{
      padding: 10px;
    }

    &__tabBlock{
      padding-right: 10px;
      padding-left: 10px;
      padding-bottom: 15px;
    }

    &__back{
      font-size: 12px;
      span{
        font-size: 20px;
      }
    }
  }

  .modelPageMain{
    &__oneClickForm{
      padding-left: 15px;
      min-width: 0;
      input{
        font-size: 16px;
        line-height: 120%;
      }
  
      a{
        font-size: 15px;
        line-height: 120%;
      }
    }
  }
}

@media screen and (max-width: 900px){
  .header{
    &__callBack-btn{
      display: none;
    }
  }

  .phoneList{
    &__heading{
      .icon-chevron-drop{
        display: none;
      }
    }

    &__text{
      display: none;
    }
  }
  
  .mainBanner{
    &__mainContent{
      flex-direction: column;
      align-items: center;
    }
  }

  .optionBlock{
    margin: 10px 0;
  }

  .popularList {
    &__wrap{
      flex-wrap: wrap;
    }

    &__unit{
      &:last-child{
        min-width: 100%;
      }
    }
  }

  .footer{
    &__main {
      flex-wrap: wrap;
    }

    &__col {
      margin-bottom: 30px;
    }
  }

  .navBlock{
    padding-top: 20px;
    flex-direction: row;
    max-width: 350px;
    width: 100%;
    &__icons{
      flex-direction: column;
      max-width: min-content;
      margin-right: 20px;
    }

    &__iconItem{
      &:not(:last-child){
        margin-bottom: 10px;
      }
    }

    &__brandBtn{
      display: block;
    }
  }

  .bigFilter{
    &__select{
      max-width: 120px;
      margin-bottom: 10px;
      &:not(:last-child){
        margin-right: 10px;
      }
    }
  }

  .brandSidebar{
    max-width: 200px;
    margin-right: 30px;
    display: none;
  }

  .labels{
    margin-bottom: 20px;
  }

  .itemList{
    &__title{
      margin-bottom: 15px;
    }
  }

  .modelPageMain{
    flex-direction: column;
    &__imageBlock{
      margin: 0px auto;
      margin-bottom: 20px;
      padding-top: 20px;
    }

    &__labels{
      top: 20px;
    }

    &__bottomInfo{
      display: none;

    }

    &__topInfo{
      border-bottom: none;
    }

    &__split{
      max-width: 420px;
      width: 100%;
      margin: 0px auto;
      margin-bottom: 20px;
    }

    &__priceBlock{
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      .modelPageMain__iconHeading{
        width: 100%;
        span{
          display: none;
        }
      }
    }

    &__orangePrice{
      display: block;
      margin-right: 15px;
    }

    &__bottomBlock{
      margin: 0px auto;
      &:not(:last-child){
        margin-right: auto;
      }
    }

    &__oneClickForm{
      display: flex;
      width: 100%;
      margin-bottom: 10px;
    }

    &__priceBlock{
      border-bottom: none;
      padding-bottom: 0;
    }

    &__labelRow{
      padding-top: 20px;
    }

    &__garantyBtn{
      display: none;
    }

    &__btn{
        display: block;
    }
  }

  .bottomBlock{
    &__oneClickForm{
      display: none;
    }

    &__btn{
      display: none;
    }
  }

  .variantBlock{
    &__col{
      &:nth-child(4) {
        display: none;
      }
    }

    &__buttons{
      flex-direction: column;
      min-width: 140px;
    }

    &__btn{
      margin-right: 0;
      margin-bottom: 10px;
      &--dark{
        margin-bottom: 0;
      }
    }

    
  }

  .modelPage{
    &__crumbs{
      padding-bottom: 15px;
    }

    &__heading{
      margin-top: 20px;
    }
  }

  

  .reviewItem{
    padding-top: 20px;
    padding-bottom: 20px;
    &--answer{
      width: calc(100% - 100px);
      padding-bottom: 10px;
    }

    &__likeRow{
      max-width: 140px;
    }
  }
}

@media screen and (max-width: 650px){

  .linkBlock{
    &__grid{
      grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    }

    &__title{
      font-weight: 600;
      font-size: 18px;
      line-height: 120%;
      margin-bottom: 15px;
    }
  }

  .itemPageMain{
    &__leftInfo{
      flex-direction: column;
      order: 1;
    }

    &__text{
      padding-top: 20px;
    }

    &__ratingBlock{
      padding-top: 15px;
    }

    &__rightInfo{
      order: 3;
    }

    &__checkBlock{
      display: none;
    }

    &__bottomRow{
      order: 2;
      display: flex;
      flex-direction: column;
      max-width: 370px;
    }

    &__price{
      order: 1;
      flex-direction: column;
      margin-right: auto;
    }

    &__imageBlock{
      padding-right: 0;
    }

    &__favBtn{
      right: 0;
    }

    &__rightInfo{
      max-width: 450px;
    }

    &__advRow{
      display: none;
    }

    &__infoList{
      margin-bottom: 0;
      &:nth-child(2){
        margin-right: 0;
      }
      &:nth-child(3){
        display: none;
      }
    }

    &__oneClickForm{
      order: 2;
    }

    &__btn{
      order: 3;
    }

    &__labelRow{
      padding-top: 30px;
      padding-bottom: 20px;
      justify-content: space-between;
    }

    &__listRow{
      max-width: 425px;
      margin: 0px auto;
      width: 100%;
      border-bottom: 1px dashed #B3B3B3;
    }

    &__art{
      opacity: 1;
    }

    &__ratingBlock{
      margin: 0px auto;
    }

    &__specList{
      max-width: 425px;
      padding-top: 25px;
      padding-bottom: 25px;
      border-bottom: 1px dashed #B3B3B3;
      li{
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .modelPageMain{

    &__priceBlock{
      justify-content: flex-start;
    }

    &__labelRow{
      padding-top: 20px;
      padding-bottom: 20px;
      border-bottom: 1px dashed #B3B3B3;
    }

    &__bottomBlock.bottomBlock--specs{
      padding-top: 20px;
    }

    &__orangePrice{
      font-weight: 600;
      font-size: 24px;
      line-height: 120%;
    }

    &__listBlock{
      justify-content: flex-start;
      max-width: 420px;
      margin: 0px auto;
      width: 100%;
      padding-top: 20px;
      border-top: 1px dashed #B3B3B3;
    }

    &__split{
      margin-bottom: 0;
    }

    &__text{
      font-weight: 400;
      font-size: 11px;
      line-height: 150%;
      padding-top: 17px;
      border-top: 1px dashed #B3B3B3;
      max-width: 420px;
      width: 100%;
      margin: 0px auto;
      li::before{
        top: 3px;
      }
    }

    &__garantyLink{
      display: flex;
      align-items: center;
      max-width: 420px;
      margin: 0px auto;
      width: 100%;
      margin-top: 25px;
      margin-bottom: 21px;
      img{
        width: 27px;
        margin-right: 10px;
      }
      span {
        font-weight: 600;
        font-size: 15px;
        line-height: 120%;
        text-decoration-line: underline;
        color: #05447D;
      }
    }
  }

  .modelPage{
    &__itemSlider{
      .itemSlider__title{
        background: none;
        color: #000;
        font-size: 32px;
        padding: 0;
        text-align: left;
      }
    }
  }

  .reviews{
    padding-bottom: 20px;

    &__heading{
      font-size: 24px;
    }
  }

  .reviewForm{
    padding-top: 20px;

    &__heading{
      margin-bottom: 20px;
      font-size: 24px;
    }

    &__inputBlock {
      margin-bottom: 20px;
    }

    &__smallHeading{
      margin-bottom: 10px;
    }
  }

  .oneClickForm{
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .mobileNavigation{
    display: flex;
    flex-direction: column;

  }

  .variantBlock{
    &__item{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    &__buttons{
      grid-column: span 2;
     
    }

    &__heading{
      font-weight: 600;
      font-size: 18px;
      margin-bottom: 16px;
    }

    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 12px;
      padding-bottom: 15px;
      li{
        width: 100%;
        max-width: 100%;
        a{
          padding-top: 12px;
          padding-bottom: 12px;
        }
      }
    }

    &__col{
      margin-bottom: 15px;
      &:nth-child(2) {
        order: 1
      }
      &:nth-child(3) {
        order: 2;
      }
      &:nth-child(5) {
        order: 3;
      }
    }

    &__img {
      order: 4;
      max-width: 120px;
      justify-content: center;
      margin: 0px auto;
    }

    &__buttons {
      order: 5;
    }

    &__btn{
      max-width: 200px;
      margin-left: auto;
    }
  }

  .bottomBlock{
    &__heading{
      font-weight: 700;
      font-size: 18px;
      margin-bottom: 12px;
    }

    &__listBlock{
      width: 100%;
      max-width: 100%;
      ul {
        width: 100%;
        max-width: 268px;
        padding-bottom: 12px;
        li {
          display: flex;
          font-weight: 400;
          font-size: 12px;
          line-height: 120%;
          text-transform: uppercase;
          b {
            margin-left: auto;
            font-weight: 700;
            font-size: 12px;
            line-height: 120%;
            text-transform:none;
          }
        }
      }
    }
  }

  .infoList{
    &__iconHeading{
      span{
        font-size: 24px;
      }
      font-weight: 600;
      font-size: 16px;
      margin-bottom: 15px;
    }

    ul {
      margin-right: 20px;
      li {
        font-weight: 500;
        font-size: 14px;
        &:not(:last-child){
          margin-bottom: 12px;
        }
        span{
          width: 24px;
          height: 24px;
          margin-right: 12px;
        }
      }
    }


  }

  .filtering{
    display: none;
  }

  .wrap{
    padding-left: 10px;
    padding-right: 10px;
  }

  .header{


    &__logo{
      max-width: 145px;
      margin-left: 45px;
    }

    &__wrap{
      position: relative;
      padding-top: 9px;
      padding-bottom: 9px;
    }

    &__toggler{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-top: 17px;
      padding-bottom: 17px;
      padding-right: 13px;
      padding-left: 13px;
      height: 55px;
      width: 55px;
      min-width: 55px;
      background: #403f3f;
      position: absolute;
      left: 0;
      top: 0;
      cursor: pointer;
      span{
        display: block;
        width: 29px;
        height: 2px;
        background: #ffffff;
        transition: 0.3s;
      }

      &--active {
        justify-content: center;
        span{
          position: absolute;
          &:first-child{
            transform: rotate(45deg);
          }
          &:nth-child(2){
            opacity: 0;
          }
          &:last-child{
            transform: rotate(-45deg);
          }
        }
      }
    }

    &__phoneList{
      margin: 0px 5px;
    }

    &__searchBar{
      margin: 0px 5px;
    }
    
    &__lang-dropdown{
      margin: 0px 5px;
    }
  }

  .phoneList{
    &__heading{
      .icon-call{
        font-size: 22px;
      }
    }
  }

  .searchBar{
    position: relative;
    &__input{
      display: none;
    }

    &__btn{
      color: #ffffff;
      padding: 0;
    }
  }

  .cart{
    height: 55px;
    width: 55px;
    margin-top: -9px;
    margin-bottom: -9px;
    margin-right: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FE511C;
    &__label{
      height: 20px;
      width: 20px;
      font-size: 14px;
      top: 2px;
      right: 2px;
    }

    .icon-cart{
      font-size: 28px;
    }
  }

  .navbar{
    position: absolute;
    width: 100%;
    top: 55px;
    right: 0;
    display: none;
    background: #ffffff;
    &__wrap{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    &__link{
      width: 100%;
    }
  }

  .hidden-mobile{
    display: none;
  }

  .mainBanner{
    &__controls{
      display: flex;
      display: none;
      padding-bottom: 15px;
      width: 100%;
      border: none;
      background: rgba(29,29,29, 0.7);
      color: #ffffff;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      text-align: center;
      &::after{
        display: none;
      }
      .list {
        width: 100%;
        li, .option.selected.focus {
          background: rgba(29,29,29, 0.7);
        }
      }

      .current{
        margin: 0px auto;
      }

      
    }

    &__wrap{
      margin-top: 0px;
      padding-top: 30px;
      padding-bottom: 35px;
    }

    &__maiContent{
      flex-direction: column;
    }
  }

  .btn{
    border-radius: 5px;
    text-transform: none;
    font-weight: normal;
  }

  .optionBlock{
    max-width: 100%;

    &__btn{
      max-width: 140px;
      margin: 0px auto;
      margin-top: 25px;
    }

    &__heading{
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 100%;
      text-align: center;
      background: rgba(29,29,29, 0.7);
      margin-bottom: 15px;
      padding: 10px;
      border-radius: 5px;
    }

    &__body{
      background: transparent;
      padding: 0;
    }

    &__headRow{
      grid-gap: 0;
      padding-bottom: 20px;
    }

    &__option{
      grid-template-columns: repeat(1, 1fr);
    }

    &__item--spanned{
      grid-column: unset;
    }

    &__headItem{
      font-style: normal;
      font-weight: normal;
      padding: 10px;
      font-size: 13px;
      line-height: 120%;
      &::after{
        display: none;
      }
    }

    .ui-tabs-active{
      .optionBlock__headItem{
          &::after{
              opacity: 0;
          }
      }
  }

    ul{
      li:first-child .optionBlock__headItem{
        border-radius: 5px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        padding-left: 15px;
      }
      li:last-child .optionBlock__headItem{
        border-radius: 5px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        padding-right: 15px;
      }
    }

    li {
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 120%;
    }
  }

  .slider-arrow{
    background: transparent;
    font-size: 42px;
    color: $accentOrange;
  }

  .itemCard{
    padding: 6px;
    padding-bottom: 15px;
    &__features{
      img{
        width: 17px;
      }
    }

    &__favoriteIcon{
      font-size: 20px;
    }

    &__img{
      img{
        max-width: 120px;
      }
    }

    &__greyNumber{
      font-size: 10px;
      margin-bottom: 8px;
    }

    &__name{
        font-size: 12px;
    }

    &__row{
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 12px;
    }

    &__aval{
      display: none;
    }

    &__reviews{
      margin-left: 0;
    }

    &__rating{
      margin-left: -3px;
      margin-bottom: 5px;
    }

    &__btn{
      padding: 7px;
      border-radius: 300px;
      background: $accentOrange;
      color: #ffffff;
      border: none;
    }

  }
  
  .title{
    font-size: 24px;
  }

  .itemSlider{
    &__item{
      padding-right: 5px;
      padding-left: 5px;
    }

    &__wrap{
      padding-top: 40px;
    }

    &__title{
      color: #ffffff;
      background: rgb(255,255,255);
background: linear-gradient(84deg, rgba(255,255,255,1) 0%, rgba(186,184,185,1) 17%, rgba(35,36,37,1) 50%, rgba(142,142,142,1) 82%, rgba(255,255,255,1) 100%);
      // display: block;
      width: 100%;
      padding-top: 5px;
      padding-bottom: 5px;
      text-align: center;
    }

    &__title{
      margin-bottom: 20px;
    }

    .slick-list{
      margin-right: -5px;
      margin-left: -5px;
    }
  }

  .newsCard{
    max-width: 100%;
    &__btn{
      padding: 7px;
      border-radius: 300px;
      font-size: 12px;
      font-weight: bold;  
      width: 100%;
      min-width: 0;
    }

    &__title{
      margin-bottom: 15px;
      margin-top: 10px;
      font-size: 14px;
    }


    &__desc{
      font-size: 14px;
      margin-bottom: 15px;
    }
  }

  .news{
    &__body{
      grid-template-columns: repeat(2, 1fr);
    }

    &__wrap{
      padding-top: 40px;
      padding-bottom: 30px;
    }

    &__title{
      margin-bottom: 20px;
    }

    &__more{
      display: block;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 140%;
      text-decoration-line: underline;
      color: #035F93;
      margin: 0px auto;
      margin-top: 23px;
      max-width: min-content;
      white-space: nowrap;
    }
  }

  .seo {
    &__wrap{
      padding-top: 25px;
      padding-bottom: 20px;
    }
  }

  .footer{
    &__logo{
      display: none;
    }

    &__heading{
      display: none;
    }

    &__main {
      // flex-wrap: nowrap;
    }

    &__wrap{
      padding-top: 20px;
      padding-bottom: 10px;
      padding-right: 25px;
      padding-left: 35px;
    }

    &__col {
      margin-right: 0 !important;
      margin-bottom: 30px;
      &:nth-child(1) {
        order: 1;
      }
      &:nth-child(4) {
        order: 2;
        width: 50%;
      }

      &:nth-child(5) {
        order: 6;
        width: 100%;
        margin-bottom: 0;
      }

      &:nth-child(2) {
        order: 4;
        width: 50%;
      }

      &:nth-child(3) {
        order: 5;
        width: 50%;
      }


    } 

    &__mainInfo{
      flex-direction: row;
      justify-content: space-evenly;
      width: 100%;
      margin-bottom: 20px;
      order: 1;
      margin-bottom: 0;
    }

    

    &__text{
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 140%;
    }

    &__copyright{
      margin-top: 20px;
      text-align: center;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 120%;
    }

    &__grey{
      display: none;
    }

    &__link {
      font-size: 16px;
      line-height: 140%;
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 140%;
    }

    &__addInfo{
      order: 3;
      width: 50%;
      justify-content: center;
    }

    &__socials{
      max-width: 285px;
      width: 100%;
      margin: 0px auto;
      justify-content: space-between;
    }

    &__social{
      margin: 0;
    }
  }


  .popularList{

    &__wrap{
      padding-top: 15px;
      flex-direction: column;

    }

    &__unit{
      margin: 0;
      width: 100%;
      max-width: 100%;
      &:not(:last-child){
        margin-bottom: 55px;
      }
      &:last-child,
      &:first-child{
        max-width: 100%;
        margin-right: 0;
      }
    }
  
    &__heading{
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 120%;
      text-align: center;
      color: #000000;
      width: 100%;
      display: block;
      max-width: 300px;
      margin: 0px auto;
      padding-bottom: 5px;
      border-bottom: 1px solid #C9C9C9;
      margin-bottom: 10px;
      br{
        display: none;
      }
    }

    &__body{
      flex-direction: column;

      ul {
        width: 100%;
        max-width: 100%;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: unset;
        align-items: unset;
        padding: 0;
        li{
          margin-bottom: 0;
          margin-top: 0;
          padding-left: 20px;
          padding-right: 20px;
          margin: 0;

          a{
            font-size: 14px;
            line-height: 230%;
            color: #033F61;
          
          }
          &:nth-child(odd) {
            border-right: 1px solid #C5C5C5;
            // background: #EEE;
          }
                  
          &:nth-child(4n-3),
          &:nth-child(4n-2) {
          background: #F7F7F7;
         }
        }
      }
    }
  }

  .popups{
    padding-right: 10px;
    padding-left: 10px;
  }

  .popup-brands{
    &__tabHeadRow{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
      text-align: center;
      
    }

    &__headWrap{
      display: flex;
      justify-content: space-between;
    }

    &__headItem{
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: 12px;
      padding-right: 5px;
      padding-left: 5px;
      margin-right: 0;
    }

    &__select{
      margin: 0;
      font-size: 16px;
      max-width: 160px;
      min-width: 160px;
      .option{
        font-size: 16px;
        min-height: 25px;
        padding-top: 5px;
        padding-bottom: 5px;
      }
      &::after{
        width: 7px;
        height: 7px;
        margin-top: -5px;
      }
    }

    &__tab{
      grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    }
  }

  .itemList{
    &__grid{
      grid-row-gap: 20px;
      grid-column-gap: 10px;
      grid-template-columns: repeat(2, 1fr);
    }

    &__btn{
      border-radius: 300px;
      max-width: 165px;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;  
      line-height: 120%;
      padding-top: 10px;
      padding-bottom: 10px;
      color: #FFFFFF;
    }

    &__pagination{
      // display: none;
    }
  }

  .main{
    padding-bottom: 30px;
  }

  .brandList{
    &__grid{
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
    }

    &__item{
      padding-right: 15px;
      padding-left: 15px;
      padding-top: 10px;
      padding-bottom: 10px;
      height: 55px;
      img{
        max-width: 100%;
        transform: scale(0.8);
      }
    }
  }

  .descriptionBlock{
    &__heading{
      font-size: 24px;
    }
  }

  
  .optionBlock__option{
    max-width: 80%;
    margin: 0 auto;
  }
  .mobileNavigation__buttons{
    max-width: 100%;
    .mobileNavigation__grayBtn,
    .mobileNavigation__select{
      max-width: 50%;
    }
  }
  .title{
    font-size: 1rem;
  }
}


@media screen and (max-width: 480px) {


  .itemHeading{
    font-weight: 800;
    font-size: 18px;
    line-height: 120%;
    margin-top: 15px;
    margin-bottom: 30px;
  }

  .itemPageMain{
    &__art{
      font-weight: 500;
      font-size: 14px;
    }

    &__checkLabel{
      font-weight: 500;
      font-size: 14px;
    }

    &__rightInfo {
      padding-top: 25px;
    }

    &__oneClickForm{
      min-width: 0;
      input {
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
      }
    }

    &__specList{
      max-width: 300px;
      li {
        font-weight: 400;
        font-size: 12px;
        text-transform: uppercase;
        &:not(:last-child){
          margin-bottom: 10px;
        }
        a {
          text-transform: none;
        }
        b{
          text-transform: none;
        }
      }
    }

    &__bottomRow{
      grid-gap: 10px;
    }

    &__price{
      line-height: auto;
      span {
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 10px;
      }

      b {
        font-weight: 700;
        font-size: 24px;
      }
    }

    &__text{
      li{
        font-weight: 400;
        font-size: 11px;
        line-height: 150%;
        padding-left: 17px;
        &::before{
          width: 7px;
          height: 7px;
          top: 7px;
        }
      }
    }
  }

  .variantBlock{
    padding-top: 25px;
    &__tab{
      padding-top: 20px;
      padding-right: 10px;
      padding-left: 10px;
      padding-bottom: 10px;
    }

    &__img{
      max-width: 70px;
      min-width: 70px;
    }

    &__col{
      p{
        font-weight: 300;
        font-size: 14px;
      }
    }

    &__label{
      font-size: 14px;
      top: -20px;
    }

    &__price{
      font-weight: 500;
      font-size: 14px;
    }

    &__btn{
      font-weight: 700;
      font-size: 14px;
      line-height: 120%;
      height: 28px;
      background: #252525;
      border-radius: 300px;
      margin-bottom: 7px;

      &--dark{
        color: #252525;
        background: #fff;
        border: 1px solid #D0D0D0;
        margin-bottom: 0;
      }
    }
    
  }

  .descriptionBlock{
    &__heading{
      font-weight: 800;
      font-size: 18px;
      margin-bottom: 10px;
    }

    &__text{
      font-size: 14px;
    }
  }

  .brandList{
    &__wrap{
      padding-bottom: 30px;
    }
  }
 
  .tabSlider{
    padding-top: 30px;
    &__heading{
      font-weight: 800;
      font-size: 18px;
      margin-bottom: 10px;
    }

    ul{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 12px;
      padding-bottom: 25px;
      li{
        width: 100%;
        display: block;
        a{
          width: 100%;
          display: block;
          text-align: center;
          padding: 10px;
          line-height: 1;
        }
        &:last-child{
          grid-column: span 2;
        }
      }
    }
  }

  .modelPageMain{
    &__topInfo{
      padding-bottom: 0;
    }
  }

  .reviews{
    &__heading{
      font-weight: 600;
      font-size: 18px;
      margin-bottom: 8px;
    }
  }

  .bottomTabs{
    &__moreBtn{
      max-width: 230px;
      padding: 7px;
      font-weight: 400;
      font-size: 12px;
      margin-top: 0;
    }

    ul{
      li{
        a{
          padding-left: 10px;
          padding-bottom: 10px;
          font-weight: 600;
          font-size: 14px;
        }
      }
    }
  }

  .modelPage{
    &__itemSlider{
      padding-bottom: 20px;
      .itemSlider__title{
        font-weight: 700;
        font-size: 18px;
      }
    }
  }

  .reviewItem{
    padding-top: 10px;
    padding-bottom: 10px;
    &--answer{
      width: calc(100% - 40px);

      &::before{
        font-size: 14px;
        padding-right: 15px;
        transform: translateY(-50%);
      }

      .reviewItem__nameRow{
        margin-bottom: 10px;
      }

      .reviewItem__text{
        margin-left: 0px;
        p{
            margin-bottom: 15px;
        }
    }
    }
    &__replyBtn{
      font-weight: 500;
      font-size: 12px;
      & > span {
        font-size: 18px;
        margin-right: 8px;
      }
    }

    &__likeRow{
      max-width: 90px;
    }

    &__likeBtn{
      img{
        width: 16px;
        margin-right: 10px;
      }

      span {
        font-weight: 500;
        font-size: 14px;
      }

      span[class^="icon-"], span[class*=" icon-"] {
        font-size: 16px;
        margin-right: 10px;
      }
      
    }

    &__nameRow{
      span {
        font-size: 14px;
      }
    }

    &__rating{
      padding-top: 12px;
      padding-bottom: 16px;
    }

    &__profileImg{
      width: 40px;
      height: 40px;
      margin-right: 15px;
      span{
        font-size: 18px;
      }
    }

    &__text{
      & > p{
        font-weight: 500;
        font-size: 12px;
        margin-bottom: 16px;
      }
    }

    &__heading {
      font-weight: 700;
      font-size: 12px;
      margin-bottom: 10px;
    }

    &__headingBlock{
      margin-bottom: 12px;
      p{
        font-weight: 500;
        font-size: 12px;
      }
    }

    
  }

  .reviewForm{
    &__heading{
      font-weight: 800;
      font-size: 18px;
      margin-bottom: 8px;
    }

    &__stars{
      margin-bottom: 16px;
    }

    &__smallHeading{
      font-weight: 600;
      font-size: 14px;
      margin-bottom: 10px;
    }

    &__btn {
      border-radius: 300px;
      max-width: 100%;
    }
  }
  .smallBanner__wrap{
    height: 100px;
  }
  .bottomTabs ul li a{
   font-size: .8rem;
    padding-left: 8px;
  }

}

@media(max-width: 388px){
  .header__logo{
    max-width: 98px;
  }
}